* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.ticket-container {
    background-color: white;
    padding: 20px;

    width: 100%;
}

.titel-order {
    color: #a00000;
    font-size: 24px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
    border-bottom: 1px solid #797979;
}

td {
    border-bottom: 1px solid #f0f0f0;
}

select {
    padding: 5px;
    border: solid #a00000;

}

.voucher-section {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.voucher-section input {
    padding: 5px;
    flex: 1;
    border: solid #a00000;
    margin-right: 10px;
    margin-left: 1.5vh;
}

.voucher-section button {
    background-color: #a00000;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.voucher-section button:hover {
    background-color: #800000;
}




.order-body {
    background-color: rgb(0, 0, 0);


}

.text-header {
    background-color: white;
    margin-left: 10vh;
    height: 10vh;
    width: 90%;
    align-content: center;
    display: block;
    margin-top: 5vh;
    text-align: left;

}

.top-text {

    padding-left: 5vh;
    font-weight: bold;
    font-size: 5.5vh;
    color: #9E2629;

}


.page-container {
    margin-left: 10vh;
    margin-bottom: 10vh;
    margin-top: 5vh;
    height: 210vh;
    width: 70%;
    background-color: white;


}


.text-bottom {
    background-color: #9E2629;
    margin-left: 10vh;
    height: 10vh;
    width: 70%;
    align-content: center;
    display: block;
    margin-top: 5vh;
    text-align: left;
    margin-bottom: 10vh;
}





.placeholder-movie {
    height: 90vh;
    width: 40vh;
    background-color: white;
    margin-top: 12.3vh;
    display: flex;
    float: right;
    margin-right: 5vh;

}

#movie-image {
    height: 60vh;
    width: 40vh;


}


.text-area-bottom {
    font-weight: bold;
    font-size: 5vh;
    color: #ffffff;
    text-align: center;

}

.text-movie {
    background-color: #ffffff;
    color: #9E2629;
    font-size: 1.6vh;
    border: none;
    cursor: pointer;
    align-items: center;
    width: 20vh;
    height: 4.3vh;
    padding-left: 1vh;
    overflow: hidden;
    display: inline-flex;
    margin-left: 10vh;
    margin-top: 2vh;
}






.arrow {
    width: 4.5vh;
    margin-left: 1.9vh;
    transition: transform 0.3s;
    margin-top: 1vh;

}


.button-head {
    display: inline-flex;
    margin-left: 2vh;
    margin-top: 3vh;

}

.button-head2 {
    display: inline-flex;
    margin-left: 2vh;
    margin-top: 3vh;

}


.button-head-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 15vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}




.button-head-content a {
    color: black;
    padding: 1.6vh 2.2vh;
    text-decoration: none;
    display: block;
}




.button-head-content a:hover {
    background-color: #f1f1f1;
}


.button-head:hover .button-head-content {

    display: block;
}



.button-head:hover .arrow {

    transform: rotate(180deg);

}


.button-head:hover .butdrdwn {

    background-color: #767676;
}



.button-head-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 15vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}




.button-head-content2 a {
    color: black;
    padding: 1.6vh 2.2vh;
    text-decoration: none;
    display: block;
}




.button-head-content2 a:hover {
    background-color: #f1f1f1;
}


.button-head2:hover .button-head-content2 {

    display: block;
}



.button-head2:hover .arrow {

    transform: rotate(180deg);

}


.button-head2:hover .butdrdwn2 {

    background-color: #767676;
}


.chair-container {
    background-color: white;
    padding: 20px;
    max-width: 100%;
    width: 100%;
}

.titel-order2 {
    color: #a00000;
    font-size: 24px;

}



.container-chair {
    text-align: center;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
}

.titel-chair {
    margin-bottom: 20px;
    border-top: 2px solid #a00;
    padding-bottom: 10px;
    color: #a00;
}



.seating-area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 23%;
}

.row {
    display: flex;

    margin-bottom: 10px;
}

.chair {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #f08080;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chair:hover {
    background-color: #f05050;
}

.chair.occupied {
    background-color: #a00000;
}

.chair.selected {
    background-color: #c00000;
}


.legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    height: 5vh;
    margin: 0 10px;
    text-align: center;
    color: #fff;
    line-height: 5vh;
}

.legend-item.free {
    width: 11vh;
    background-color: #f08080;
}

.legend-item.occupied {
    width: 11vh;
    background-color: #a00000;
}

.legend-item.selected {

    width: 30%;
    background-color: #c00000;
}




.bestelling-container {
    padding: 20px;
}


.titel-bestelling {
    color: #a00;
    font-size: 24px;
}


.film-container {
    width: 90%;
    height: 40vh;
    border: 2px solid #9E2629;
    margin-top: 5vh;
    display: flex;

}

.symbols-container {
    display: inline-flex;
    margin-bottom: 2vh;
}

.symbol-image2 {
    height: 4vh;

}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2vh;
    color: #666666;

}

.movie-title2 {
    color: #666666;
    margin-top: 2vh;
    font-size: 30px;
    margin-bottom: 1vh;

}

#movie-image2 {
    height: 90%;
    margin: 2vh;

}


.gegevens {
    padding: 20px;
}

.titel-gegevens {
    color: #a00;
    font-size: 24px;
    margin-bottom: 3vh;

}

.name input {
    border: 2px solid #9E2629;
    width: 50%;
}

.email input {
    border: 2px solid #9E2629;
    width: 50%;


}

.titel-betaal {
    color: #a00;
    font-size: 24px;
    margin-top: 5vh;
    margin-bottom: 3vh;


}