body {
    background-color: black;
    color: white;
}

.p {
    color: whitec;
}

.titel_div h1{
    color: #9E2629;
    background-color: white;
}

.detail_container {
    background-color: white;
    

}

.detail_foto {
   
}

.tickets_kopen {
    background-color: #9E2629;
    color: white;
}