body.detail_body {
    background-image: none;
    background-color: black;
}

.detail_p {
    color: white;
}

.titel_div h1{
    color: #9E2629;
    background-color: white;
    margin-left: 10vh;
    height: 10vh;
    width: 90%;
    align-content: center;
    display: block;
    margin-top: 5vh;
    text-align: left;
    padding-left: 5vh ;
}

.detail_film {
    background-color: white;
    width: 52vh;
}

#detail_foto {
    background-color: black;
    width: 50%;
}

.detail_container {
    border: 100px solid black;
    background-color: white;
    display: flex;
}

.tickets_kopen {
    background-color: #9E2629;
    color: white;
    margin-left: 10vh;
    height: 10vh;
    width: 90%;
    align-content: center;
    display: block;
    margin-top: 5vh;
    text-align: left;
    padding-left: 5vh ;
}

.detail.h1 {
    font-size: 45px;
}

.info {
    color: white;
}

.kijkwijzer_img {
    width: 4.7vh;
    height: 4.7vh;
}

.trailer {
    border: 5px solid #9E2629;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.tickets_kopen {
    text-align: center;
}

.acteurs {
    display: flex;
    width: 12.9vh;
    height: 19.3vh;
}

.acteurs_namen {
    color: rgb(0, 0, 0);
}

.titel_div {
    text-align: center;
}

.release {
    color: #666666;
}