* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.footer-container {

    background-color: pink;
    grid-area: ft;


}

.f_container {
    background-color: #666666;
    display: flex;
    align-items: center;
    height: 30vh;
}

.f_item-1 {
    font-size: 1.3vh;
    text-align: left;
    margin-bottom: 2vh;
   

}

.f_item-2 {
    text-decoration: none;
    padding: 3vh;
    justify-content: center;
}

.f_item-3 {
    width: 20vh;
    align-items: center;
    justify-content: center;
}

.f_item-4 {
    align-items: end;
}

.f_trap {
    align-items: flex-end;

}

#f_trap {
    width: 20vh;

}

#f_logo {

    width: 35vh;
    height: 11vh;
    padding-top: 3vh;
    padding-left: 9vh;
}

.f_omschrijving {
    color: white;
    margin-bottom: 2vh;
    font-size: 1.3vh;
    width: 40vh;
    display: block;
    margin-left: 10vh;

}

.f_h4 {
    color: white;
    padding-top: 1vh;
    font-size: 1.3vh;
}

.f_copyright {
    background-color: #000000;
    color: white;
    padding: 1vh;
    padding-left: 15vh;
    font-size: 1.3vh;
    text-align: left;
    justify-content: left;
}


.f_button {
    width: 8vh;
    height: 2vh;
    font-size: 1vh;
    display: inline-block;
    border: 0px;
    margin-left: 10vh;
}

.f_icons {
    padding-top: 1vh;
    justify-content: center;
    display: flex;
}

.f_icons a {
    padding: 1vh;
    margin: 1vh;
    height: 1.5vh;
    width: 1.5vh;
}

.f_item-2 ul {
    padding-top: 1vh;
    font-size: 1.3vh;
}

.f_link {
    color: white;
    text-decoration: none;
}
